*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000;
  color:#fff;
}

.box, .box1, .box2, .box3{
  height: 120px;
  width: 120px;
  background-color: red;
  margin-bottom: 1rem;
}

.box1{
  background-color: yellow;
}
.box2{
  background-color: blue;
}
.box3{
  background-color: green;
}
button{
  font-size: 2rem;
}


/* .................for scroll trigger............ */

.page , .page2{
  height: 100vh;
  width: 100%;
}
/* .page2{
  background-color: aquamarine;
} */

.imageDiv{
  height: 100%;
  width: 100%;
  transform-origin: center;
}
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page2{
  position: relative;
}
.content{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
h3{
  font-size: 5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}